body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #333;
    color: white;
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
}

.input {
    width: 7em;
    padding: .25rem;
    border: 1px solid #333;
    border-radius: .3em;
    font-family: inherit;
}

select {
    margin-left: .5rem;
    font-family: inherit;
}

.to {
    padding: .5rem 0;
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
}